html,body {
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  /* color: #0055c6; */
  color: #000000;
  /* height: 101.95%; */

}

body {
/*   background-image:   linear-gradient(
      rgba(197, 228, 152, 0.4),
      rgba(197, 228, 152, 0.4)
    ),url("https://moniquetodd.github.io/PleasurePrinciples/images/mk-image.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0% 35%; */
  background-color: #c5e498;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} */

/*Banner Styles*/

#banner {
  /* text-align: center; */
  /* margin-top: 8%;
  font-size: 25px; */
  position:absolute;
  top: 30%;
  left: 0%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width:100%;
	z-index:1;
	/* height:40px; */
}

#banner span {
  position: relative;
  float: left;
  left: 0;
  display: block;
  white-space: nowrap;
  font-size: 30px;
  font-style: italic;
  animation: banner 13s linear infinite;
  color: #ff5512;
  letter-spacing: 4px;
}

@keyframes banner{
	0%{transform:translateX(100vw) scale(1,1.5)}
	100%{transform:translateX(-100%) scale(1,1.5)}
}

/*Header Styles*/

h1 {
/*   font-size: 100px; */
  text-transform: uppercase;
  text-align: center;
/*   margin-right: 110px; */
  width: 40%;
  margin-left: 31%;
}

#page-logo {
  margin-top: 0;
  margin-left: 0;
}

/*Footer Styles*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;    /* Footer height */
}

footer {
  position: absolute;
  background-color: #000000;
  bottom: 0;
  width: 100%;
  height: 10rem;            /* Footer height */
}

footer ul {
  color: #ffffff;
  list-style: none;
  text-align: right;
  padding-right: 30px;
}

footer ul a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Changa', sans-serif;
  font-size:15px;
}

footer ul a:hover {
  color: #ff5512;
}

/*Image Styles*/

#image-container {
  width: 100%;
  margin-left: 38%;
  margin-top: 15%;
}

.mk-image {
  /* margin: 100%; */
  width: 25%;
  padding-bottom: 1%;
}

/* #text-margin {
  margin-left: 15px;
} */


/*Link Styles*/

a {
   text-decoration: none;
   color: #000000;
}

.info-link {

  font-size: 15px;
}

.info-link:link, .info-link:visited {
  color: #ff5512;
}

.info-link:hover, #publication-descrip a:hover {
  color: #5A5D5A;
}

/*Description Styles*/
/* #about-descrip {
  display: flex;
  justify-content: space-evenly;
} */


#about-descrip #publication-descrip, #contact  {
  text-align: justify;
  margin-left: 32%;
}

#about-descrip h2, #publication-descrip h2 {
  font-size: 23px;
}

#about-descrip ul, #about-descrip ul a {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
}
/*
#publication-descrip  {
  margin-left: 6%;
} */

/* #publication-descrip p {
  width: 45%;
} */

#about-descrip ul {
  width: 60%;
  font-weight: normal;
}

.description, #about-descrip p, #publication-descrip p {
  font-size: 27px;
  line-height: 1.2;
}

.description {
  text-align: justify;
  margin-top: 6%;
  margin-bottom: 1%;
  width: 50%;
  margin-left: 26%;
}

#publication-descrip h2, #contact h2 {
  margin-bottom: -20px;
}

#publication-descrip, #contact {
  width: 60%;
}

#publication-descrip a {
  color: #ff5512;
}

/* MailToUI Theme */

.mailtoui-modal-head {
    background-color: #909295;
}

.mailtoui-modal-title {
  color: #21262c;
}

.mailtoui-modal-close {
  color: #21262c;
}

.mailtoui-brand a {
    color: transparent;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
    background-color: #c5e498;
    color: #333;
}

/* End MailToUI Theme */

@media only screen and (max-width: 768px) {
  html,body {
    font-family: 'Changa', sans-serif;
    /* color: #0055c6; */
    color: #000000;
    overflow: hidden;
  }

  h1 {
    width: 100%;
    margin-left: 10px;;
  }

  #banner {
    top:25%;left:0%;
    height:50px;
  }
  #banner span {
    font-size:15px;
  }

  #image-container {
    width: 85%;
    margin-left: 10%;
  }

  .mk-image {
    /* margin: 100%; */
    width:100%;
    margin-top: 20%;
  }

  footer ul {
    list-style: none;
    text-align: center;
    padding-right: 27px;
  }

  /*About Page*/
  .description {
      margin-top: 6%;
      margin-bottom: 1%;
      width: 83%;
      margin-left: 8%;
  }

  .description, #about-descrip p, #publication-descrip p {
    font-size: 20px;
    line-height: 1.2;
  }

  #about-descrip #publication-descrip, #contact {
    text-align: justify;
    margin-left: 8.5%;
  }

  #publication-descrip, #contact {
    width: 60%;
  }
	
  #about-descrip {
    margin-top: 15%;
  }

  #about-descrip h2, #publication-descrip h2 {
    font-size: 18px;
  }

  #about-descrip ul, #about-descrip ul a {
    font-size: 18px;
  }
  #about-descrip ul {
    width: 120%;
    font-weight: normal;
    margin-left: -8%;
  }
}
